using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.Mvc.RazorPages;

namespace BeFit.Views.ExerciseSessions
{
    public class IndexModel : PageModel
    {
        public void OnGet()
        {
        }
    }
}
