using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.Mvc.RazorPages;

namespace BeFit.Views.Shared
{
    public class _LoginModel : PageModel
    {
        public void OnGet()
        {
        }
    }
}
