using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.Mvc.RazorPages;

namespace BeFit.Views.Exercises
{
    public class DeleteModel : PageModel
    {
        public void OnGet()
        {
        }
    }
}
